{% extends 'blog/blog-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block content %}

<style>
  .login-container {
    width: 70%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff5e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
</style>


<div class="container login-container">
  <h2 class="mb-4 text-center">Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
      {{ form.username|attr:"placeholder:Username" }}
    </div>
    <div class="mb-3">
      <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
      {{ form.password|attr:"placeholder:Password" }}
    </div>
    <div class="d-flex justify-content-center align-items-center w-100">
    <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>

{% endblock content %}