{% extends 'blog/blog-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block content %}

<header class="jumbotron  text-center ">
  <div class="container mb-5 ">
      <h4 class="display-4">Login</h4>
  </div>
</header>

<section class="container mb-5">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success w-25 me-5">Login</button> 
    <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="{% url 'register' %}">
      I don't have an account
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>

  </form>
</section>

{% endblock content %}