{% extends 'blog/blog-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<header class="jumbotron  text-center ">
    <div class="container mb-5 ">
        <h4 class="display-4">Register</h4>
    </div>
</header>
<section class="container">

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-3 me-3">Register</button>
        <a href="{% url 'login' %}" class="btn btn-outline-dark mt-3">I have an account</a>
    </form>
</section>

{% endblock content %}