asgiref==3.7.2
beautifulsoup4==4.12.2
crispy-bootstrap5==0.7
Django==4.2.3
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.0
django-crispy-forms==2.0
django-js-asset==2.1.0
django-quill==0.1.0
django-suit @ https://github.com/darklow/django-suit/tarball/v2#sha256=b40c916de9528ca86bcccd42d1fd54e7773e5071d2bfd9efc576039c1a441c0b
django-widget-tweaks==1.4.12
Pillow==10.0.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
pysqlite3 --global-option=--version=3.8.3
