{% extends 'blog/blog-base.html' %}
{% load static %}

{% block title %} - About {% endblock title %}


{% block content %}
<header class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Discover Our Story</h1>
        <p class="lead"><span class="text-warning">EduOnline</span> - Your Gateway to Discovery and Learning.</p>

    </div>
</header>

<section class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>About EduOnline</h1>
            <p>Welcome to EduOnline, your one-stop destination for online learning, insightful articles, and a vast
                digital library. We're dedicated to providing high-quality courses, engaging blog posts, and a
                comprehensive collection of resources to enhance your knowledge and skills.</p>
            <p>Our mission is to empower learners of all ages to achieve their educational goals by offering a diverse
                range of courses across various subjects. Whether you're a student looking to expand your horizons or a
                professional aiming to upskill, EduOnline has something for everyone.</p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/edu.png' %}" alt="EduOnline Team" class="img-fluid w-100 bg-dark rounded">
        </div>
    </div>
</section>
{% endblock content %}