{% extends 'blog/blog-base.html' %}
{% load static %}
{% block content %}

<section class="about_achievements">
    <div class="container about_achievements-container">
        <div class="about_achievements-left">
            <img src="{% static 'landing/images/about achievements.svg' %}" alt="achievements-img">
        </div>
        <div class="about_achievements-right">
            <h1>About EduOnline</h1>
            
            <p><strong>Welcome to Edu Online</strong><br> At EduOnline, we believe that education is the key to personal growth and professional success.
                Our platform aims to empower learners worldwide by providing access to high-quality online courses and insightful blog content on a wide range of topics.
                Whether you want to advance your career, enhance your skills, or simply explore new interests, EduOnline has something to offer for everyone.</p>
            <div class="achievements_cards">
                <article class="achievement_card">
                    <span class="achievement_icon"><i class='bx bx-video'></i></span>
                    <h3>{{ courses }}</h3>
                    <p>Courses</p>
                </article>
                <article class="achievement_card">
                    <span class="achievement_icon"><i class='bx bx-group' style='color:#ffffff'></i></span>
                    <h3>{{ students }}</h3>
                    <p>Students</p>
                </article>
            
            </div>
        </div>
    </div>
</section>

<section class="team">
    <h2>Our Team</h2>
    <div class="container team_container">
        {% for teacher in staff %}
            {% if teacher.username.is_staff %}
        <article class="team_member">
            <div class="team_member-image">
                <img src="{{ teacher.picture.url }}" height="120px" alt="tm1">
            </div>
            <div class="team_member-info">
                <h4>{{ teacher.username|upper }}</h4>
                <p>Staff</p>
            </div>
        </article>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock content %}