<footer class="footer bg-green-light text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fa-solid fa-square-phone"></i> Phone: +201016709067 / +201200096295</li>
                    <li><i class="fa-solid fa-envelope-open"></i> <a class="text-light" href="mailto:emanelasas88@gmail.com">Email: emanelasas88@gmail.com</a></li>
                    <li><i class="fa-brands fa-facebook"></i> <a class="text-light" href="https://www.facebook.com/eman.elasas?mibextid=ZbWKwL">Facebook</a></li>
                    <li><i class="fa-brands fa-whatsapp"></i> <a class="text-light" href="https://wa.me/+201016709067">Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>