<header class="container">
    <nav>
        <a href="/">
            <h4>Edu<span>Online</span></h4>
        </a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'courses' %}">Courses</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'library' %}">Library</a></li>
            <li><a href="{% url 'contactUs' %}">Contact</a></li>
        </ul>
        <button id="open-menu-btn"><i class='bx bx-menu'></i></button>
        <button id="close-menu-btn"><i class='bx bx-x'></i></button>
    </nav>
</header>