{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
    rel="stylesheet">

    <title>EduOnline {% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap/css/bootstrap_4.5.2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'landing/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>
    {% include 'blog/blog-header.html' %}
    {% block content %}
    {% endblock content %}

    {% include 'blog/blog-footer.html' %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navbar = document.querySelector(".navbar");
            const scrollThreshold = 200; // Adjust this value as needed

            window.addEventListener("scroll", function () {
                if (window.scrollY >= scrollThreshold) {
                    navbar.classList.add("scrolled");
                } else {
                    navbar.classList.remove("scrolled");
                }
            });
        });

    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap_4.5.2_js_bootstrap.min.js' %}"></script>
</body>

</html>