<nav class="navbar sticky-top navbar-expand-md  navbar-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">EduOnline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'profile' request.user %}">My Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'library' %}">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutUs' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactUs' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>