{% extends 'blog/blog-base.html' %}
{% load static %}

{% block title %} - Home {% endblock title %}


{% block content %}
<header class="jumbotron  text-center ">
    <div class="container mb-5 ">
        <h4 class="display-4">EduOnline<br>Gateway to Discovery and Learning</h4>
    </div>
    {% if not request.user.is_authenticated %}
        <a href="{% url 'register' %}" class="btn btn-success">Join</a>
        <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
    {% endif %}
</header>

<section class="container mt-5">
    <div class="content">
        <div class="title">
            <h4>Courses</h4>
        </div>

        <div class="courses d-flex flex-wrap justify-content-around">
            {% for course in courses %}
            <div class="course">
                <img src="{{ course.image.url }}" alt="">
                <div>
                    <strong>{{course.course_name}}</strong>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>



    <div class="content">
        <div class="title">
            <h4>Recently Articles</h4>
        </div>

        <div class="row">
            {% for article in articles %}
            <div class="col-lg-4">
                <div class="card mb-4">
                    <img class="card-img-top card-image" src="{{ article.image.url }}" alt="Blog Post Image">
                    <div class="card-body">
                        <h2 class="card-title">{{article.title}}</h2>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="content">
        <div class="title">
            <h4>Random Books</h4>
        </div>

        <div class="row">
            {% for book in books %}
            <div class="col-lg-4">
                <div class="card mb-4" aria-hidden="true">
                    <img class="card-img-top card-image" src="{{book.image.url}}" alt="...">
                    <div class="card-body">

                        <h5 class="card-title rounded placeholder-glow">
                            {{book.name}}
                        </h5>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="content">
        <div class="title">
            <h4>Feedbacks</h4>
        </div>

        <div class="row ">
            {% for feedback in feedbacks %}
            <div class="col-md-6 col-lg-4">
                <div class="testimonial">
                    {% for user in profile %}
                        {% if feedback.user.id == user.username.id %}
                            <img src="{{ user.picture.url }}" alt="Avatar" class="avatar">
                        {% endif %}
                            {% endfor %}
                    <p class="quote">{{ feedback.content}}</p>
                    <p class="author"> {{feedback.user}} </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}