{% extends 'base.html' %}
{% load widget_tweaks %}

{% block pageTitle %} Inbox {% endblock pageTitle %}
{% block currentPage %} Inbox-contact with {% endblock currentPage %}

{% block content %}
<div class="list-group">
  {% for user in users %}
    {% if user.is_staff %}
    <a href="{% url 'chat' user.id %}" class="list-group-item list-group-item-action">{{ user.username }} - <small>staff</small></a>
    {% else %}
      <a href="{% url 'chat' user.id %}" class="list-group-item list-group-item-action">{{ user.username }} - <u>student</u></a>
    {% endif %}

    {% endfor %}
</div>
{% endblock content %}