{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}Remove quiz{% endblock pageTitle %}
{% block currentPage %}remove-quiz{% endblock currentPage %}

{% block content %}
<div class="container mt-4">
  <p>Are you sure you want to remove "{{ quiz.quiz_name }}"?</p>
  <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Remove</button>
      <a href="{% url 'quiz_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock content %}