{% extends 'blog/blog-base.html' %}
{% load static %}

{% block title %} - Courses {% endblock title %}


{% block content %}

<header class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Learn More, Achieve More</h1>
    <p class="lead"><span class="text-">EduOnline's</span> Courses, Your Step Forward.</p>
  </div>
</header>


<section class="container mt-5">
  <div class="row">
    {% for course in courses %}
    <div class="col-lg-4  col-md-6 ">
      <div class="course-card">
        <div class="course-img">
          <img src="{{course.image.url}}" alt="html">
        </div>
        <div class="course-description">
          <h2> {{course.course_name}} </h2>
          <p> {{course.description|truncatewords:7}} </p>
          <a href="{% url 'courseDetails' course.course_name %}" class="btn btn-outline-success">Course Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}