{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}My Courses{% endblock pageTitle %}
{% block currentPage %}my courses{% endblock currentPage %}

{% block content %}

  <style>
    .card img{
      height: 200px;
    }
  </style>
  <section class="section">

    {% if not myCourses %}
      <p>You don't subscribe any course yet</p>
    {% endif %}
      <div class="row">
        {% for enrollment in myCourses %}
        <div class="col-lg-4  col-md-6 ">
          <div class="course-card">
            <div class="course-img">
              <img src="{{enrollment.course.image.url}}" alt="html">
            </div>
            <div class="course-description">
              <h2> {{enrollment.course.course_name}} </h2>
              <a href="{% url 'course_page' enrollment.course.course_name %}" class="btn btn-outline-success">Course Page</a>
            </div>
          </div>
        </div>
          {% endfor %}
        </div>
  </section>


{% endblock content %}
